@import "../../../styles/mixins";

.popup-template__title {
  @include h4;
}

.popup-template__subtitle {
  @include p1;
  margin-top: 8px;
  color: var(--base-500);
}

.popup-template__separator {
  width: calc(100% + 96px);
  height: 1px;
  background-color: var(--base-200);
  margin: 16px -48px;
}
